#flag-container {
    padding: 15px;
    width: 40%;
    height: 600px;
    background-color: aliceblue;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-3dlight-color: aqua;
}

#flag-content {
    display: none;
    width: 40%;
    height: 600px;
    padding: 15px;
    background-color: aliceblue;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    margin-left: 10px;
    overflow-y: auto;
    object-position: var(flag-container);
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 5px;
    margin: 2px;
    transition: transform 0.5s;
}

.card-title {
    position: fixed;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.flag {
    width: 100%;
}

.flag-title {
    padding: 2px 16px;
    text-align: center;
    font-size: 1vw;
}

.contents-wrapper {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 15px;
    margin: 15px;
    border: 1px solid #5570da;
    border-radius: 10px;
    margin-left: 0;
    background-color: aliceblue;
}

.contents-wrapper:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: translateY(-5px);
}

.content {
    text-align: center;
    background-color: #5570da;
    color: white;
    line-height: 3rem;
}

.ruang-contents-wrapper {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 15px;
    margin: 15px;
    border: 1px solid #5570da;
    border-radius: 10px;
    margin-left: 0;
}

.ruang-contents-wrapper:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: translateY(-5px);
}

#ruang-content {
    display: none;
    width: 45%;
    height: 100%;
    padding: 15px;
    background-color: aliceblue;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    margin-left: 10px;
    overflow-y: auto;
    object-position: var(flag-container);
}