html {
    display:block;
}
.row {
    display: ;
    justify-content: center;
    align-items: center;
}

.flag-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    width:100%;
    background-color: aliceblue;
    
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width:12%;
    padding: 15px 15px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.flag {
    width:100%;
}

.flag-title {
    padding: 2px 16px;
    text-align: center;
}